Package: docker-ovs-plugin
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: docker.io (>= 20.10)
Maintainer: Qiang Wu <wuqiang0720@126.com>
Description: Docker OVS Network Plugin
 A Docker network plugin for Open vSwitch integration.

